.Profile-page{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.Profile-header{
    width:100%;
    margin-top: 60px;
    border-bottom: solid 0.5px aliceblue;
     padding-top: 20px;
     padding-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}
.Profile-description{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    font-size: 15px;
    color: aliceblue;
}
.Post1{
    width:100%;
    padding: 20px;
    background-color:#2d2d30de;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.post-container-box{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.siz{
    font-size: 18px;
}
.Edit-button{
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
    border-radius: 6px;
    border: none;
    background-color:#007acc;
    color: aliceblue;
}
.image1 {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 200px;
    border: 1.5px solid var(--shade-white, #FFF);
    background: lightgray 0px-1.626px / 100% 125% no-repeat;
    object-fit: cover;
}
.ProfileIcon1 {
    display: flex;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
}
.plus{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #f0f8ffa5;
    font-size: 80px;
}
.updateinput{
    border: none;
    padding: 5px;
    border-radius: 4px;
    background: #3e3e42;
    color: aliceblue;

}
.Profile-description{
    width: 30%;
    gap: 10px;
}
.radio-toolbar input[type="radio"] {
    display: none;
  }
  .radio-toolbar label {
    display: inline-block;
    background-color: #3e3e42;
    padding: 10px 20px;
    border-radius: 6px;
    color: #ffffff94;
    cursor: pointer;
  }
  .radio-toolbar input[type="radio"]:checked+label {
    background-color: #333;
    color:#fff
  }
  .radio-toolbar input[type="radio"]+label:hover {
    transition: transform .2s;
    transform: scale(1.2);
    color: white;
  }
  .nopass{
  color: #035ef1;
  font-size: 12px;
  cursor: pointer;
  }
  .radio-toolbar{
    display: flex;
   gap: 20px;
    justify-content: space-evenly;
    align-items: center;
  }
@media only screen and (max-width: 600px) {
    .image1{
        width: 120px;
        height: 120px;
    }
    .ProfileIcon1{
        width: 120px;
        height: 120px;
        /* padding-left: 10px; */
    }
    .Profile-header{
        gap: 10px;
        flex-direction: column;
}
.Profile-description{
    justify-content: center;
    align-items: center;
    width: 80%;
}
.upvote-downvote{
    font-size: 15px;
}
}