.Home{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.main{
    min-height: 100vh;
    background-color: #1e1e1e;
    
}
.addImg{
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #3e3e42;
  padding: 10px;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
  border: none;
}

.poimage{
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: contain;
}
.colorBox{
  width: 100%;
  height: 350px;
  position: relative;
  /* background-color: #2781bc; */
}
@keyframes moveFromTopToBottom {
  from {
    top: 0;
  }
  to {
    top: 100%;
    display: none;
  }
}

.animate {
  
  animation: moveFromTopToBottom 1s linear forwards;
}
.searchbutton{
  position: absolute;
  bottom: 0px;
  right: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  color: white;
  background-color: #3e3e42;
  border-radius: 50%;
  cursor: pointer;
}
.sc{
  position: absolute;
  width: 100%;
  height: 10px;
  top: 0;
  transition: top 1s;
  display:block;
  background: rgb(255,255,255);
  background: linear-gradient(360deg, rgba(255,255,255,0.39548319327731096) 0%, rgba(249,249,255,0.3310574229691877) 64%, rgba(0,212,255,0) 100%);
}
.post-container{
  display: flex;
    gap: 15px;
    justify-content: flex-start;
    align-items: center;
}
.Questions-container{
    width: 85%;
    margin-top: 60px;
    padding: 10px;
    gap: 20px;
}
.AskQuestions-header{
    font-size: 25px;
    color: aliceblue;
}
.Input-text{
    background-color: #3e3e42;
    border: none;
    font-size: 20px;
    width: 100%;
    border-radius: 6px;
    padding: 10px;
    color: #d6ebfd;
}
.AskQuestions{
    width:60%;
    padding: 20px;
    background-color:#2d2d30;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Post-question:hover{
    color:#929299;
}
.MyQuestions-header{
    font-size: 30px;
    width: 100%;
    color: aliceblue;
}
.MyQuestions-content{
    min-height: 100px;
    
    padding: 10px;
    overflow-y: scroll;
    width: 100%;
    border-radius: 4px;
}
.MyQuestions-content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 10px;
}
.MyQuestions-content::-webkit-scrollbar{
    display: none;
}
.MyQuestions-content-title>span{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.MyQuestions-content-title{
 display: flex;
 justify-content: center;
 align-items: center;
}
.MyQuestions-content-box{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 4px;
    background-color: #3e3e42;
    cursor: pointer;
    color: white;
}

.MyQuestions{
    width:380px;
    background-color: 	#2d2d30;
    margin: 10px;
    margin-top: 70px;
   max-height:400px;
   gap:30px;
   position: fixed;
   right: 0px;
   top: 0px;
   border-radius: 6px;
   display: flex;
   padding: 20px;
   flex-direction: column;
   align-items: center;
}
.Genrative-content{
    font-size: 18px;
    color: #acd8ff5c;
}
.Genrative-button{
    border: none;
    border-radius: 2rem;
    padding: 10px;
    background-color: #a5d5ff;
    font-size: 15px;
    cursor: pointer;
}
.Genrative-button:hover{
background-color: #b6dafb;
}
.Add-label{
    border: none;
    border-radius: 4px;
    padding: 10px;
    background-color: #81c4ff;
    font-size: 15px;
    cursor: pointer;
    width: fit-content;
}
.Add-label:hover{
    background-color: #b6dafb;
    }
    .refresh-button{
        position: absolute;
        width: 20px;
        height: 20px;
        right: 15px;
        font-size: 25px;
        cursor: pointer;
        z-index: 2;
        color: aliceblue;
    }
.Genrative-AI{
    border-top: solid 0.5px white;
    border-bottom: solid 0.5px white;
    padding: 5px;
    display: flex;
    position: relative;
    justify-content: space-between;
}
.Create-post:hover{
    background-color: #2781bc;
    
}
.See-more{
    background-color: #3e3e42;
    background: linear-gradient(to top, rgba(0,0,0,0.65) 0%,rgba(0, 0, 0, 0.392) 70%,rgba(0,0,0,0) 100%);
    color: aliceblue;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding:20px 0 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
}
.Create-post{
    width: 150px;
    font-size: 20px;
    border: none;
    color: aliceblue;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 8px;
    background-color: #007acc;
    cursor: pointer;
}
.Answer-box{
    width: 100%;
    background-color: #4b4b4f;
    color: aliceblue;
    padding: 15px;
    font-size: 16px;
  
    display: flex;
    flex-direction: column;
    gap: 10px;
   
}
.Post-question{
    color: aliceblue;
    font-size: 20px;
}
.ProfileIcon {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}
.Post-header{
    display: flex;
    justify-content: space-between;

}
.image {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border: 1.5px solid var(--shade-white, #FFF);
    background: lightgray 0px -1.626px / 100% 125% no-repeat;
    object-fit: cover;
}

.label-container{
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}
.Menu-item{
    width: 50px;
    background-color: red;
   height: 100%;
   position: fixed;
}
.Posts-container{
    width: 85%;
    padding: 10px;
    flex-direction: column-reverse;
    display: flex;
    gap: 15px;
}
.No-questions{
    background-color: #3e3e42;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f0f8ff6b;
    width: 100%;
    height: 120px;
}
.Post{
    width:60%;
    padding: 20px;
    background-color:#2d2d30de;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.moment-post{
    display: flex;
    flex-direction: row-reverse;
}
.upvote-downvote{
    display: flex;
     justify-content: space-between;
    color: rgba(240, 248, 255, 0.708);
    flex-direction: column;
    gap: 10px;
}
.MyQuestions-content-votes-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.vote{
    display: flex;
    gap: 10px;
}
@media only screen and (max-width: 600px) {
    .Menu-item{
        width:100%;
        background-color: red;
       height:50px;
        top: 60px;
    }
  }
  @media only screen and (max-width:1000px){
    .MyQuestions{
        display: none;
    }
    .AskQuestions{
        width: 90%;
    }
    .Post{
        width: 90%;
    }
    .Genrative-AI{
        flex-direction: column;
        gap: 15px;
    }
    .Genrative-button{
        height: fit-content;
        width: fit-content;
        align-self: center;
    }
   .Answer-box{
    font-size: 10px;
   }
    .Posts-container{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .Questions-container{
        width: 100%;
        display: flex;
        align-items: center;
    }
  }
  .bar-c {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 30px;
    width: 40px;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
  }

  .Microphone{
    width: 40px;
    height: 30px;
    display: flex;
    font-size: 23px;
    justify-content: center;
    align-items: center;
  }
  .bar {
    height: 1px;
    width: 3px;
    display: inline-block;
    background-color: #ffffff;
    margin-left: 1px;
    border-radius: 3px;
  }
  
  .bar.noAnim {
    -webkit-animation: none;
    -webkit-animation-name: none;
    animation: none;
    animation-name: none;
  }
  
  #bar-1 {
    -webkit-animation-name: danceHeight1;
    animation-name: danceHeight1;
    -webkit-animation-delay: 0ms;
    animation-delay: 0ms;
    -webkit-animation-duration: 500ms;
    -webkit-animation-play-state: running;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  .icon-container{
    height: 100%;
    width: fit-content;
    background-color: #3e3e42;
    padding: 10px;
    border-radius: 10px;
  }
  #bar-2 {
    -webkit-animation-name: danceHeight2;
    animation-name: danceHeight2;
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms;
    -webkit-animation-duration: 500ms;
    -webkit-animation-play-state: running;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  
  #bar-3 {
    -webkit-animation-name: danceHeight3;
    animation-name: danceHeight3;
    -webkit-animation-delay: 600ms;
    animation-delay: 600ms;
    -webkit-animation-duration: 500ms;
    -webkit-animation-play-state: running;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  
  #bar-4 {
    -webkit-animation-name: danceHeight4;
    animation-name: danceHeight4;
    -webkit-animation-delay: 900ms;
    animation-delay: 900ms;
    -webkit-animation-duration: 500ms;
    -webkit-animation-play-state: running;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  
  #bar-5 {
    -webkit-animation-name: danceHeight5;
    animation-name: danceHeight5;
    -webkit-animation-delay: 1200ms;
    animation-delay: 1200ms;
    -webkit-animation-duration: 500ms;
    -webkit-animation-play-state: running;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  
  #bar-6 {
    -webkit-animation-name: danceHeight6;
    animation-name: danceHeight6;
    -webkit-animation-delay: 1500ms;
    animation-delay: 1500ms;
    -webkit-animation-duration: 500ms;
    -webkit-animation-play-state: running;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  
  @-webkit-keyframes danceHeight1 {
    from {
      height: 1px;
    }
    to {
      height: 22px;
    }
  }
  
  @-webkit-keyframes danceHeight2 {
    from {
      height: 1px;
    }
    to {
      height: 15px;
    }
  }
  
  @-webkit-keyframes danceHeight3 {
    from {
      height: 1px;
    }
    to {
      height: 30px;
    }
  }
  
  @-webkit-keyframes danceHeight4 {
    from {
      height: 1px;
    }
    to {
      height: 20px;
    }
  }
  
  @-webkit-keyframes danceHeight5 {
    from {
      height: 1px;
    }
    to {
      height: 15px;
    }
  }
  
  @-webkit-keyframes danceHeight6 {
    from {
      height: 1px;
    }
    to {
      height: 15px;
    }
  }
  
  @keyframes danceHeight1 {
    from {
      height: 1px;
    }
    to {
      height: 22px;
    }
  }
  
  @keyframes danceHeight2 {
    from {
      height: 1px;
    }
    to {
      height: 15px;
    }
  }
  
  @keyframes danceHeight3 {
    from {
      height: 1px;
    }
    to {
      height: 30px;
    }
  }
  
  @keyframes danceHeight4 {
    from {
      height: 1px;
    }
    to {
      height: 20px;
    }
  }
  
  @keyframes danceHeight5 {
    from {
      height: 1px;
    }
    to {
      height: 15px;
    }
  }
  
  @keyframes danceHeight6 {
    from {
      height: 1px;
    }
    to {
      height: 15px;
    }
  }
  