.colorBox1{
    width: 100%;
    /* height: 350px; */
    position: relative;
}
.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}
.button-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.modal-input{
    width: 100%;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: rgb(245, 250, 255);
    color: rgb(23, 23, 23);
}
.modbut{
    border: none;
    padding: 8px;
    font-size: medium;
    border-radius: 4px;
    color: white;
}
.submit{
    background-color: #007acc;
    
}
.cancel{
    background-color: rgb(255, 46, 46);
}